
<label>Search: <input ng-model="searchText" /></label>
<div class="row" infinite-scroll='loadMoreRecords()' infinite-scroll-listen-for-event="list:filtered">

  <div ng-repeat="item in pokemonList | filter:searchText" class="col-sm-3">
    <a class="center-block text-center" href="#/detail/{{item.name}}">
      <label>{{item.name}}</label>
    <div class="col-sm-12">
<img src="https://img.pokemondb.net/sprites/omega-ruby-alpha-sapphire/dex/normal/{{item.name}}.png" alt="{{item.name}}"/>
</div>

</a>
  </div>
  <loading></loading>

</div>
